@using OrderManager.Models
@model IEnumerable<OrderManager.Models.OrderView>

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<div id="filter-all">
    @await Html.PartialAsync("_Filter", new Provider())
</div>

<div id="view-all">
    @await Html.PartialAsync("_OrderList", Model)
</div>


<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

